<div class="video-card-wrapper">
  <div class="video-card-content">
    <div class="video-card-text">
        <span class="video-card-title video-card-text-sections">
          {% comment %} Video title. {% endcomment %}
          <h3>
            {{ include.video.title }}
          </h3>
        </span>

        {% comment %} Release date. {% endcomment %}
        {% if include.video.date > site.time %}
          <span class="video-card-date video-card-text-sections">
            {{ include.video.date | date: '%d %b %Y - %H:%M' }} EDT
          </span>
        {% else %}
          <span class="video-card-date video-card-text-sections">
            {{ include.video.date | date_to_string }}
          </span>
        {% endif %}

      <span class="video-card-description video-card-text-sections">
        {% comment %} Short description/excerpt. {% endcomment %}
        {{ include.video.excerpt }}
      </span>
    </div>
    <div class="video-card-thumb-wrapper">
      <div class="video-card-image-container"
        {% if include.video.video_id %}
          style="filter: blur(5px)"
        {% endif %}
      >
        <img
          src="{{ '/assets/images/16-9-placeholder.png' | relative_url }}"

          {% if include.video.video_id %}
            class="video-card-image video-card-image-pos-cent video-thumbnail low-res-thumb"
            style="background-image: url(https://i.ytimg.com/vi/{{include.video.video_id}}/default.jpg)"
            data-highressrc="https://i.ytimg.com/vi/{{include.video.video_id}}/hqdefault.jpg"
          {% else %}
            class="video-card-image video-card-image-pos-cent video-thumbnail"
            style="background-image: url({{ '/assets/images/streamcover.jpg' | relative_url }})"
          {% endif %}
        >
      </div>
      {% if include.video.video_id %}
        <div class="video-card-loading-animation">
          <span></span>
          <span></span>
          <span></span>
        </div>
      {% endif %}
    </div>
    <div class="video-card-badge-contain">
      {% comment %} The video badge (with its number). {% endcomment %}
      {% include 1-tools/series-for-video.html video=video %}
      <span class="video-badge">#{% if out_series.series_number%}{{ out_series.series_number }}.{% endif %}{{ include.video.video_number }}</span>
    </div>
  </div>
</div>
