// .buttons
//   @include flexbox()
//   @include justify-content(space-between)
//   padding: 0em $padding ($padding / 2)
//
//   @media (max-width: $mobile)
//     @include flex-wrap(wrap)
//
//   a
//     @extend .cta-button
//     font-size: 1.5rem
//     background: $ct-purple
//     color: #FFF
//     @include flex-grow(1)
//     margin-left: 0.25em
//     margin-right: 0.25em
//     padding: 15px
//
//     @media (max-width: $mobile)
//       margin: 0
//
//     &:first-child
//       margin-left: 0
//
//     &:last-child
//       margin-right: 0
//
//     @media (max-width: $mobile)
//       @include flex-basis(100%)
//       margin-top: 0.5em

@function calc-percentage($numerator, $denominator:0)
  @if $denominator > 0
    @return $numerator / $denominator * 100%
  @else
    @return $numerator * 100%

a
  color: inherit
  &:link
    text-decoration: none
.video-card-wrapper
  width: 35rem
  background: #fff
  display: inline-block
  margin: 3rem 0rem
  position: relative
  box-shadow: 0 10px 20px $box-shadow-primary, 0 6px 6px $box-shadow-secondary
  border-radius: $standard-border-radius
  overflow: hidden
  &:nth-child(5n+1)
    &:hover
      .video-card-text
        background: rgba($ct-red, .97)
  &:nth-child(5n+2)
    &:hover
      .video-card-text
        background: rgba($ct-blue, .97)
  &:nth-child(5n+3)
    &:hover
      .video-card-text
        background: rgba($ct-orange, .97)
  &:nth-child(5n+4)
    &:hover
      .video-card-text
        background: rgba($ct-purple, .97)
  &:nth-child(5n+5)
    &:hover
      .video-card-text
        background: rgba($ct-green, .97)
  &:after
    content: ""
    display: block
    padding-top: calc-percentage($card-ratio)
  .video-card-badge-contain
    position: absolute
    top: 0
    left: 0
    right: 0
    &:after
      content: ""
      display: block
      padding-top: calc-percentage($thumbnail-ratio)
    .video-badge
      position: absolute
      right: 0
      bottom: 0
      background: $ct-green
      color: #FFF
      @include text-style('title')
      font-size: 2rem
      padding: .5em .5em .5em .6em
      border-radius: $standard-border-radius 0em 0em
      transform: translate3d(0,0,0)
      transition: transform .1s $standard-timing-function
.video-card-thumb-wrapper
  overflow: hidden
  position: relative
  display: block
  height: auto
  transform-origin: top center
  transition: transform .3s $standard-timing-function
  transform: scale3d(1,1,1)
  &:after
    content: ""
    display: block
    padding-top: calc-percentage($thumbnail-ratio)
  .video-card-image-container
    width: 100%
    height: 100%
    overflow: hidden
    display: block
    position: absolute
    text-align: center
    transition: filter .6s $secondary-timing-function
    background: $placeholder-bg-color
    img
      display: block
      position: absolute
      left: -100%
      right: -100%
      top: -100%
      bottom: -100%
      margin: auto
      height: 102%
    .video-thumbnail
      background-size: cover
      background-position: center
  .video-card-loading-animation
    opacity: 1
    transition: all .4s $standard-timing-function
    width: 100%
    position: absolute
    top: 50%
    left: 0
    text-align: center
    > span
      width: 15px
      height: 15px
      margin: 0 7.5px
      display: inline-block
      &:before
        border-radius: 50%
        width: 15px
        height: 15px
        display: block
        animation-fill-mode: both
        transform-origin: center center
        backface-visibility: hidden
        animation: image-loader-animation 1.5s infinite $standard-timing-function
        background: #fff
        opacity: .75
        content: ''
      &:nth-child(2)
        &:before
          animation-delay: .25s
      &:nth-child(3)
        &:before
          animation-delay: .5s
    @keyframes image-loader-animation
      0%,
      95%,
      100%
        transform: scale3d(1,1,1)
      40%
        transform: scale3d(0,0,1)
.video-card-text
  box-sizing: content-box
  text-align: left
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  right: 0
  display: block
  padding: 0
  padding-top: calc-percentage($thumbnail-ratio)
  z-index: 2
  color: $text-color
  transition: all .3s $standard-timing-function
  overflow: hidden
  span
    display: block
    z-index: 3
    padding: 0 20px
    &.video-card-text-sections
      transition: color .4s $secondary-timing-function
    &.video-card-title
      h3
        margin: .5em 0 .3em 0
        font-size: 2rem
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    &.video-card-date
      font-size: 1.4rem
      padding-bottom: 10px
      font-weight: 300
      font-style: italic
      color: $tertiary-color
    &.video-card-description
      font-size: 1.6rem
      color: $tertiary-color
      font-weight: 400
      padding-top: 3px
      &:before
        content: ""
        display: block
        height: 1px
        width: 100%
        transform: scale3d(.10,1,1)
        transform-origin: left
        background: $secondary-color
        opacity: .8
        margin: 0 0 3px 0
        transition: transform 1s $standard-timing-function, background-color .4s $standard-timing-function
      p
        margin-top: 11px
.video-card-content
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  &:before
    content: ''
    display: block
    width: 100%
    height: 80px
    position: absolute
    bottom: 0
    z-index: 100
    background: linear-gradient(transparent, #fff 90%)
    transition: transform .2s $standard-timing-function .2s
    transform: translate3d(0,0,0)
  &:hover
    &:before
      transform: translate3d(0, 101%, 0)
      transition: transform .2s $standard-timing-function 0s
  &:hover >
    .video-card-badge-contain
      .video-badge
        transform: translate3d(101%,0,0)
    .video-card-thumb-wrapper
      $per: $card-ratio / $thumbnail-ratio
      transform: scale3d($per, $per, 1)
      .video-card-loading-animation
        opacity: 0
      .video-card-image-container
        text-align: center
        transition: filter .6s $secondary-timing-function
    .video-card-text
      padding-top: 15px
      transition: all .3s $standard-timing-function
      span
        &.video-card-text-sections
          transition: color .3s $deceleration-timing-function
          color: #fff
        &.video-card-title
          h3
            overflow: visible
            white-space: normal
        &.video-card-description:before
          transform: scale3d(1,1,1)
          background: #fff
.video-card-image-pos-cent
  top: -100%
  bottom: -100%
